.wkode-slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  /*  */

  &-container {
    align-items: center;
    display: flex;
    margin: auto;
    max-height: 80rem;
    overflow-x: clip;
    position: relative;
    width: 100%;
    @media (max-width: 1080px) {
      /*  & {
        display: none;
      } */
    }
  }

  &-slide {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    max-width: calc(100vw - 1rem);
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &-prev,
  &-next {
    background-color: #ffffffcf;
    backdrop-filter: blur(10px);
    border-radius: .5rem;
    color: #0b4a78;
    cursor: pointer;
    font-size: 2rem;
    height: 8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.5rem;
    z-index: 1;
    box-shadow: 0px 6px 12px -6px #0a162175;
    transition: .2s;
    
    &:hover {
      transform: translateY(-50%) scale(1.05);
    }
  }

  &-prev {
    left: 2rem;
  }

  &-next {
    right: 2rem;
  }

  &-dots {
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    position: absolute;

    .wkode-slider-dot {
      background-color: #ffffffcf;
      backdrop-filter: blur(10px);
      border-radius: 100%;
      cursor: pointer;
      height: 1rem;
      margin-right: 1.5rem;
      border: 1px solid #0b4a78;
      width: 1rem;
      transition: .2s;

      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        background-color: #0b4a78;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &-progress {
    background-color: #ddd;
    bottom: 0;
    height: 0.5rem;
    left: 0;
    position: absolute;
    width: 100%;

    .wkode-slider-progress-bar {
      background-color: #000327;
      height: 100%;
      transition: none;
      width: 0%;
    }
  }
}

.is-desktop-preview {
  .wkode-slider {
    &-slide {
      max-width: 100%;
    }
  }
}
.wkode-slider {
  &-container-mobile {
    display: none;
    max-height: 108rem;
    @media (max-width: 1080px) {
      & {
        display: flex;
      }
    }
  }
}
