.wkode-slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  /*  */

  &-container {
    align-items: center;
    display: flex;
    margin: auto;
    max-height: 80rem;
    overflow-x: clip;
    position: relative;
    width: 80%;
    @media (max-width: 1080px) {
      /*  & {
        display: none;
      } */
    }
  }

  &-slide {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    max-width: calc(100vw - 1rem);
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &-prev,
  &-next {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 99rem;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    z-index: 1;
  }

  &-prev {
    left: 2rem;
  }

  &-next {
    right: 2rem;
  }

  &-dots {
    bottom: -2rem;
    display: flex;
    justify-content: center;
    left: 0;
    margin-top: 1rem;
    position: absolute;

    .wkode-slider-dot {
      background-color: #e1e1e1;
      border-radius: 0;
      cursor: pointer;
      height: 0.5rem;
      margin-right: 1.5rem;
      width: 13rem;
      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        background-color: #000327;
      }
    }
  }

  &-progress {
    background-color: #ddd;
    bottom: 0;
    height: 0.5rem;
    left: 0;
    position: absolute;
    width: 100%;

    .wkode-slider-progress-bar {
      background-color: #000327;
      height: 100%;
      transition: none;
      width: 0%;
    }
  }
}

.is-desktop-preview {
  .wkode-slider {
    &-slide {
      max-width: 100%;
    }
  }
}
.wkode-slider {
  &-container-mobile {
    display: none;
    max-height: 108rem;
    @media (max-width: 1080px) {
      & {
        display: flex;
      }
    }
  }
}
