*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ================scroolbar=================== */

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  transition: background-color 0.8s;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(6, 78, 59, var(--tw-bg-opacity));
} */

/* ================scroolbar=================== */

html {
  /* this defines what one rem is */
  font-size: 62.5%;
}

/* a:hover {
    color: inherit !important;
    text-decoration: none !important;
  } */
/* @apply bg-unitermi-primary-gray */
body {
  box-sizing: border-box; /* Padding and Margin are no longer part of the width and height of the element */
  min-height: 100vh;
  overflow-x: clip;
  //background-color: var(--lightPrimary);
}
.wraper {
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #182135;
  font-family: SegoeUI, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.35;
  margin: 0;
  padding: 1.5rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
