.wk-produtos {
  &__item {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    min-height: 330px;
    padding: 25px;
    a {
      display: flex;
      img {
        height: auto;
        width: 55%;
      }
      h3 {
        font-family: Helvetica, sans-serif;
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
}
@media (max-width: 768px) {
  .wk-produtos {
    &__item {
      a {
        flex-direction: column;
      }
    }
  }
}

// haha, note the difference in language, produtos and products.
.single-wk-products {
  &__trail {
    background-color: #f2f4f6;
    color: #182135;
    font-size: 1.7rem;
    padding: 1.5rem 0;
  }
  &__text {
    background-color: #1f2a44;
    color: #fff;
    font-size: 1.7rem;
    padding: 7rem 0;
  }
  &__related {
    background-color: #f2f4f6;
    &-item {
      background-color: white;
      border-radius: 2rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      padding: 1rem;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      &:hover {
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12),
          0 3px 3px rgba(0, 0, 0, 0.24);
      }
      h3 {
        font-size: 2.1rem;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.wk-categories {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    color: #b0b7c4;
    cursor: pointer;
    font-family: "Helvetica", sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 2rem;
    text-transform: uppercase;
    transition: all 0.3s;
    &.active {
      color: #182135;
    }
    &:hover {
      color: #182135;
    }
  }
}
@media (max-width: 768px) {
  .wk-categories {
    &__item {
      text-align: center;
    }
  }
}
