@use "base/tailwind";
@use "base/fonts";
@use "base/base-styles";
@use "base/animations.scss";

@use "blocks/slider";
@use "blocks/wk-banner-grid";
@use "blocks/wk-video-block";

@use "components/header";
@use "components/wk-produtos";
@use "components/content";
@use "components/footer";

.gm-input {
  label {
    font-weight: 500!important;
  }
  input {
    width: 100%!important;
    min-width: 100%!important;
  }
}

.gm-enviar {
  font-size: 2rem!important;
  background-color: #376881!important;
  color: white!important;
  width: 100%!important;
  min-width: 100%!important;
  font-weight: bold!important;
  border-color: #376881!important;
  border-radius: 1rem!important;
  transition: .2s!important;

  &:hover {
    background-color: #53ced5!important;
    border-color: #53ced5!important;
  }
}

.wkode-contact-block {
  color: rgb(50, 50, 50);
  font-family: "SegoeUI", sans-serif;
  &__wrapper {
    @apply grid grid-cols-1 md:grid-cols-2 container;
  }
  &__title {
    font-family: "SegoeUI", sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 3rem;
  }
  &__subtitle {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__form {
    opacity: 1;
    padding-left: 4rem;
    padding-right: 4rem;
    transition: all 0.3s;
    z-index: 89;

    .wpforms-container form .wpforms-field-container {
      input,
      textarea {
        background-color: transparent !important;
        border: 1px solid rgb(50, 50, 50) 000 !important;
        border-radius: 1px !important;
        color: rgb(50, 50, 50) !important;
        font-family: "SegoeUI" !important;
        font-size: 1.4rem !important;
        font-weight: 300 !important;
        margin-bottom: 1rem;
        min-width: 100% !important;
        text-transform: capitalize !important;
        &::placeholder {
          color: rgb(50, 50, 50) !important;
          font-family: "SegoeUI" !important;
          font-size: 1.4rem !important;
          font-weight: 300 !important;
          min-width: 100% !important;
          text-transform: capitalize !important;
        }
      }
      .wpforms-field {
        padding: 5px 0 !important;
        &.wpforms-field-number,
        &.wpforms-field-phone {
          display: inline-block;
          width: 100%;
        }
        &.wpforms-field-number {
          margin-right: 2%;
        }
      }
      textarea.wpforms-field-medium.wpforms-field-required {
        border-radius: 1px !important;
        height: 70px;
        margin-bottom: 1.5rem;
      }
      .wpforms-field.wpforms-field-checkbox {
        font-size: 1.2rem !important;
        label {
          font-size: 1.2rem !important;
        }
        li.choice-1 {
          align-content: center;
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
        input {
          min-width: auto !important;
        }
        label,
        ul,
        li {
          display: inline !important;
        }
        label {
          margin-right: 7px;
        }
      }
    }
    .wpforms-submit-container {
      button {
        background-color: rgb(31 42 68 / var(--tw-bg-opacity)) !important;
        border-color: rgb(31 42 68 / var(--tw-border-opacity)) !important;
        border-radius: 1px !important;
        border-width: 4px !important;
        color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
        font-family: Rubik, sans-serif !important;
        font-size: 1.5rem !important;
        font-weight: 700 !important;
        line-height: 2rem !important;
        margin-top: 3rem !important;
        overflow: hidden !important;
        padding-bottom: 1rem !important;
        padding-left: 8rem !important;
        padding-right: 8rem !important;
        padding-top: 1rem !important;
        position: relative !important;
        text-transform: uppercase !important;
        transition: all 0.3s !important;
        width: 100% !important;
        --tw-border-opacity: 1 !important;
        --tw-bg-opacity: 1 !important;
        --tw-text-opacity: 1 !important;
        &:hover {
          background-color: transparent !important;
          color: rgb(31 42 68 / var(--tw-text-opacity)) !important;
          --tw-text-opacity: 1 !important;
        }
      }
    }
  }
}
